<div class="landing-container">
  <h2>Welcome!</h2>
  <div class="landing-actions">
    <button (click)="goTo('/report-generation')">Generate Report</button>
    <button (click)="goTo('/transactions')">Transactions</button>
    <button (click)="goTo('/budget-report')">Budget Report</button>
    <button (click)="goTo('/manage-budgets')">Manage Budgets</button>
    <button (click)="goTo('/category-management')">Category Management</button>
    <button (click)="goTo('/register')">Register</button>
    <button (click)="goTo('/login')">Logout</button>
  </div>
</div>
